<header>
    <div class="logo"><a class="logo-a" href="#" routerLink="/"><img src="../../assets/images/logo/logo.png" alt=""></a></div>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="#" routerLink="/home"><mat-icon>home</mat-icon>Home</a>
                </li>
                <li class="products-menu">
                    <a class="menu-toggler" (click)="toggleMenu()"><mat-icon>card_giftcard</mat-icon>Products</a>    
                    <div class="menu" *ngIf="isToggled">
                        <a href="#" routerLink="/" class="menu-item"><mat-icon>room</mat-icon>Balloons</a>
                        <a href="#" routerLink="/" class="menu-item"><mat-icon> local_florist</mat-icon>Bouquets</a>
                        <a href="#" routerLink="/" class="menu-item"><mat-icon>whatshot</mat-icon>Candles</a>
                        <a href="#" routerLink="/" class="menu-item last-menu-item"><mat-icon>cake</mat-icon>Dessert Stands</a>
                    </div>            
                </li>
                <li>
                    <a href="#" routerLink="/login" *ngIf="!isLoggedIn"><mat-icon>account_circle</mat-icon>Login</a>
                </li>
                <li>
                    <a href="#" routerLink="/register" *ngIf="!isLoggedIn"><mat-icon>note_add</mat-icon>Register</a>
                </li>
                <li *ngIf="isLoggedIn">
                    <a  href="#" routerLink="/account" ><mat-icon>account_circle</mat-icon>My Account</a>
                </li>
                <li>
                    <a href="#" routerLink="/cart" class="last-list-item"><mat-icon>shopping_cart</mat-icon>Cart</a>
                </li>
                <li *ngIf="isLoggedIn">
                    <a href="#" routerLink="/cart" class="last-list-item"><mat-icon>exit_to_app</mat-icon>Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</header>