<header>
    <div class="logo"><a class="logo-a" href="#" routerLink="/"><img src="../../assets/images/logo/logo.png" alt=""></a></div>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="#" routerLink="/home"><mat-icon>home</mat-icon>Home</a>
                </li>
                <li class="products-menu">
                    <a routerLink="/products"><mat-icon>card_giftcard</mat-icon>Products</a>               
                </li>
                <li *ngIf="!(loggedInUser)">
                    <a  routerLink="/login"><mat-icon>account_circle</mat-icon>Login</a>
                </li>
                <li *ngIf="!(loggedInUser)">
                    <a  routerLink="/register"><mat-icon>note_add</mat-icon>Register</a>
                </li>
                <li *ngIf="loggedInUser">
                    <a routerLink="/account"><mat-icon>account_circle</mat-icon>My Account</a>
                </li>
                <li *ngIf="loggedInUser">
                    <a routerLink="/cart" class="last-list-item"><mat-icon>shopping_cart</mat-icon>Cart</a>
                </li>
                <li *ngIf="loggedInUser">
                    <a routerLink="/login"  (click)="logout()" class="last-list-item"><mat-icon>exit_to_app</mat-icon>Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="content">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>