<div class="form-div">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="labels">
            <label for="username">Email</label><br><br>
            <label for="password">Password</label><br><br>          
        </div>
        <div class="input-fields">
            <input type="text" formControlName="email" name="email" id="email"><br><br>
            <input type="password" formControlName="password" name="password" id="password">
        </div>

        <div class="buttons">
            <input type="submit" value="Register" class="button">
        </div>
    </form>
</div>
