$dark-color: #ff1dd9;
$light-color: rgb(255, 242, 253);
$content-color: rgb(255, 186, 245);

.about-us{
    color: $dark-color;
    h2 {
        font-weight: bold;
    }
    background: $light-color;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    border: 2px solid $dark-color;
    text-align: center;
    padding: 20px;
}

.images {
    display: flex;
    justify-content: center;
    background: $light-color;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border:3px solid $dark-color;
    border-radius: 10px;

    .image {
        height: 200px;
    }
    
    .center-image {
        height: 200px;
        padding-left: 10%;
        padding-right: 10%;
    }
}